{{#if dictionary}}
  <form>
    <div class="mb-3">
      <label for="term" class="form-label">Technology Dictionary</label>
      <input
        type="text"
        class="form-control"
        id="term"
        placeholder="e.g: 'artificial intelegence'"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">Enter the word you want to search
        for.</div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

  </form>
{{/if}}

