<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Hello Node Js Server</h1>
    <button class="btn">
      <a href="./description.ejs" style="text-decoration: none">Add article</a>
    </button>
  </body>
</html>

<!-- <script>
    const activePage = window.location.pathname
    const navlinks =document.querySelectorAll('nav a').forEach(link=>{
    if(link.href.includes( `${activePage}`)){
        link.classList.add('active')
    }
})
</script> -->
